logLevel = "{{ traefik_log_level }}"
debug = {{ traefik_debug | lower }}

defaultEntryPoints = ["http", "https"]

[entryPoints]
[entryPoints.http]
address = ":80"

{% if traefik_https and traefik_https_redirect %}
[entryPoints.http.redirect]
entryPoint = "https"
{% endif %}

{% if traefik_https %}
[entryPoints.https]
address = ":443"
[entryPoints.https.tls]
{% for cert in traefik_certificates %}
[[entryPoints.https.tls.certificates]]
CertFile = "{{ cert.CertFile }}"
KeyFile = "{{ cert.KeyFile }}"
{% endfor %}
{% endif %}

exposedbydefault = false

{% if traefik_https %}
[acme]
email = "{{ acme_email }}"
storageFile = "/etc/traefik/acme.json"
entryPoint =  "https"

{% if traefik_ondemand %}
onDemand = "{{ traefik_ondemand }}"
{% endif %}

{% if traefik_onhostrule %}
onHostRule = "{{ traefik_onhostrule }}"
{% endif %}

{% for domain in acme_domains %}
[[acme.domains]]
main = "{{ domain.domain }}"
{% if domain.sans is defined and domain.sans | length %}
sans = [{% for san in domain.sans %}"{{ san }}"{% if not loop.last %}, {% endif %}{% endfor %}]
{% endif %}
{% endfor %}
{% endif %}

{% if traefik_web %}
[web]
address = ":{{ traefik_web_port }}"

[web.auth.basic]
users = "{{ traefik_web_auth_basic }}"

[web.auth.digest]
users = "{{ traefik_web_auth_digest }}"
{% endif %}

[docker]
domain = "{{ traefik_docker_domain }}"
endpoint = "unix:///var/run/docker.sock"
watch = true
