version: "3.7"

networks:
  {{ traefik_network }}:
    external: true
    
services:
  traefik:
    container_name: "{{ traefik_container_name }}"
    image: "{{ traefik_image }}"
    command:
      - "--api.dashboard={{ traefik_dashboard }}"
      - "--log.filePath=/var/logs/traefik/traefik.log"
      - "--log.level={{ traefik_log_level }}"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.traefik.acme.tlschallenge=true"
      - "--certificatesresolvers.traefik.acme.caserver={{ traefik_acme_caserver }}"
      - "--certificatesresolvers.traefik.acme.email={{ traefik_acme_email }}"
      - "--certificatesresolvers.traefik.acme.storage=/etc/traefik/acme.json"
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.auth.basicauth.users={{ traefik_dashboard_basicauth_passwords | join(',') }}"
      - "traefik.http.middlewares.test-redirectscheme.redirectscheme.scheme=https"
      - "traefik.http.middlewares.test-redirectscheme.redirectscheme.permanent=true"
      - "traefik.http.routers.dashboard.entrypoints=websecure"
      - "traefik.http.routers.dashboard.middlewares=auth"
      - "traefik.http.routers.dashboard.rule=Host(`{{ traefik_domain }}`)"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.tls=true"
      - "traefik.http.routers.dashboard.tls.certresolver=traefik"
      - "traefik.http.routers.dashboard.tls.domains[0].main={{ traefik_domain }}"
    networks:
      - "{{ traefik_network }}"
    ports:
      - "80:80"
      - "443:443"
    restart: unless-stopped
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "{{ traefik_acme_dir }}:/etc/traefik"
      - "{{ traefik_log_dir }}:/var/logs/traefik"
