logLevel = "{{ traefik_log_level }}"
debug = {{ traefik_debug | lower }}

defaultEntryPoints = ["http"{% if traefik_https %}, "https"{% endif %}]

[entryPoints]
[entryPoints.http]
address = ":80"

{% if traefik_https and traefik_https_redirect %}
[entryPoints.http.redirect]
entryPoint = "https"
{% endif %}

{% if traefik_https %}
[entryPoints.https]
address = ":443"
[entryPoints.https.tls]
{% for cert in traefik_certificates %}
[[entryPoints.https.tls.certificates]]
CertFile = "{{ cert.CertFile }}"
KeyFile = "{{ cert.KeyFile }}"
{% endfor %}
{% endif %}

exposedbydefault = false

{% if traefik_https %}
[acme]

email = "{{ acme_email }}"
storageFile = "/etc/traefik/acme.json"

{% if traefik_onhostrule %}
onHostRule = true
{% endif %}

entryPoint = "https"

[acme.httpChallenge]
entryPoint = "http"

{% for domain in acme_domains %}
[[acme.domains]]
main = "{{ domain.domain }}"
{% if domain.sans is defined and domain.sans | length %}
sans = [{% for san in domain.sans %}"{{ san }}"{% if not loop.last %}, {% endif %}{% endfor %}]
{% endif %}
{% endfor %}
{% endif %}

{% if traefik_web %}
[web]
address = ":{{ traefik_web_port }}"

{% if traefik_web_auth == 'basic' %}
[web.auth.basic]
{% elif traefik_web_auth == 'digest' %}
[web.auth.digest]
{% endif %}

users = [{% for user in traefik_web_auth_users %}"{{ user }}"{% if not loop.last %}, {% endif %}{% endfor %}]
{% endif %}

[docker]
domain = "{{ traefik_docker_domain }}"
endpoint = "unix:///var/run/docker.sock"
watch = true
